* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    height: 87vh;
    background-image: url(./images/donation12.png);
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: 100% 100%;
    opacity: .8;
}

.title {
    text-align: center;
    color: white;
    line-height: 40px;
    padding-top: 20%;
}

.title h1 {
    font-size: 65px;
    font-weight: bold;
    line-height: 60px;
}

.donate-today {
    margin-top: 50px;
}

.donate-today-text {
    text-align: center;
}

.donation-part {
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: center;
}

.amount-box {
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-box {
    border: 1px solid tomato;
    color: #FF5959;
    background-color: #FFEEEE;
}

.optional {
    margin-bottom: 70px;
    text-align: center;
    color: #B3B3B3;
}

.btn {
    margin: 0 auto;
    padding: 12px;
    background-color: #FF5959;
    color: white;
    border-radius: 3px;
    border: none;
}

hr {
    width: 50%;
    margin: 0 auto;
}

.donation-plan {
    margin-bottom: 70px;
}

.plan-title {
    text-align: center;
    margin-bottom: 30px;
}

.package {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plans {
    width: 300px;
    height: 250px;
    margin-right: 40px;
    border-radius: 3px;
    padding: 20px;
}

.plans img {
    width: 50px;
    height: 50px;
}

.food {
    background-color: rgba(79, 157, 166, 0.1);
}

.shelter {
    background-color: rgba(255, 89, 89, 0.1);
}

.education {
    background-color: #FFF4D6;
}

.advisory {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.advisory-text {
    margin-left: 100px;
    padding: 60px;
    border-right: 7px solid green;
    width: 300px;
    text-align: justify;
}

.members {
    width: 50%;
    height: 80%;
    margin-left: 50px;
}

.members img {
    width: 70%;
}

.update-title {
    text-align: center;
    margin-bottom: 30px;
}

input {
    height: 42px;
    background-color: #D9D9D9;
    border: none;
}

.subscribe-bar {
    margin: 0 auto;
    width: 45%;
    height: 150px;
    border-radius: 2px;
    padding: 20px;
    background-color: #FFF4D6;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 50px;
    color: #D9DBE1;
    text-align: center;
    padding: 20px;
    background-color: black;
}

#humble {
    color: #FF5959;
    font-family: 'Lobster', cursive;
}